.card.cardDefault {
  background: #FFFFFF;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
  border-radius: 10px;
  border-width: 0;
  .card-icon {
    border-radius: 100px;
    height: 100px;
    width: 100px;
    background-color: $snowGreen;
  }

  .card-top {
    padding: 25px;
    .h3 {
      font-size: 24px;
      color: #4A7D8F;
      letter-spacing: 0.5px;
      line-height: 35px;
    }
    .h4 {
      font-size: 17px;
      color: #A4BEC7;
      letter-spacing: 0;
    }
    .h6 {
      font-weight: bold;
      font-size: 12px;
      color: #4A7D8F;
      letter-spacing: 2.18px;
      text-transform: uppercase;
    }
  }
  .card-members,
  .card-excerpt {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #DBE5E9;
  }

  .card-excerpt {
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 25px;
  }

  .card-members {
    .h6 {
      font-weight: 500;
      font-size: 12px;
      color: $pineGreen;
      letter-spacing: 2px;
      text-align: center;
      text-transform: uppercase;
    }
    .person-list {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: $marineGreen;
      letter-spacing: 2px;
      text-transform: uppercase;
      .person {
        &::after {content: ", ";}
        &:last-child::after { content: "";}
      }
    }
  }

  .card-footer {
    background-color: $secondary;
    text-transform: uppercase;
    color: $white;
    font-size: 12px;
    letter-spacing: 1.75px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1.25rem 1.25rem;
    a {color: $white;}
    .h6 {
      font-weight: 500;
      font-size: 11px;
      letter-spacing: 2px;
    }
  }
}

@media(min-width: 768px){
  .workgroup-owl-carousel {
    padding-left: 60px;
    padding-right: 60px;
  }
  .card.card-lg {
    height: 550px;
    .card-top {
      min-height: 190px;
    }
  }
}
