.media.cardPost,
.card.cardPost {
  background-color: $white;
  border-radius: 8px;
  height: 525px;
  border-radius: 10px;
  .card-img-top {
    background-color: $snowGreen;
    height: 200px;
    margin-bottom: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .h6 {
    font-size: 9.5px;
    color: $primary;
    letter-spacing: 1.36px;
    text-transform: uppercase;
  }

  .card-title {
    font-size: 24px;
    color: #4B4B4B;
    letter-spacing: 0.25px;
    line-height: 28px;
    font-weight: 400;
  }

  .card-text {
    font-weight: 300;
  }

  .card-footer {
    background-color: $primary;
    text-transform: uppercase;
    color: $white;
    font-size: 12px;
    letter-spacing: 1.75px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1.25rem 1.25rem;
  }
}

.cardPost.secondary {
  .h6 { color: $secondary; }
  .card-footer {
    background-color: $secondary;
    &::after {
      content: '';
      display: inline-block;
      margin-left: 5px;
      background-image: url('../img/icons/chevrons/btn_chevron.png');
      height: 9px;
      width: 5px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.media.cardPost {
  height: auto;
  .card-img-top {
    width: 150px;
    height: 260px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    margin-bottom: 0px;
  }
  .card-body {
    min-height: 200px;
  }
  .card-footer {
    border-bottom-left-radius: 0px;
  }
}
