.fsr-holder {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.arrow-md {
  &::after {
    content: '';
    background-image: url('../img/arrow_long_secondary.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.site-logo {
  p { margin: 0; }
  img { width: 100%; height:auto; }
}

.vc_single_image-wrapper {
  img {
    max-width: 100%;
    height: auto;
  }
}

.innovate {
  .innovate-inner {
    padding: 25px;
    background-color: $iceBlue;
  }
}



@media(min-width: 768px){
  .innovate {
    background-color: $primary;
    background-image: url('../img/ico-innovate.png');
    background-repeat: no-repeat;
    background-size: 263px 208px;
    background-position: 65px center;
    .innovate-inner {
      margin-top: -50px;
      margin-bottom: -50px;
      padding: 75px;
    }
  }
}
