.card.cardDream-sm {
  .card-top {
    .h3 { color: $azureBlue; }
    .h4 { color: $articBlue; }
    .h6 { color: $azureBlue; }
  }
  .card-excerpt { color: $articBlue; }
}

.dream-current-owl-carousel.owl-carousel,
.dream-ideas-owl-carousel.owl-carousel {
  .owl-nav {
    right: -35px;
    left: -35px;
  }
  .owl-item {
    padding: 5px;
  }
}

@media(min-width: 768px){
  .card.cardDream-sm {
    height: 320px;
  }
}


@media(max-width: 767px){
  .dream-ideas-owl-carousel.owl-carousel {
    .owl-nav {
      right: -15px;
      left: -15px;
    }
  }
}
