.hentry {
  .entry-header {
    .entry-title.h1 {
      font-weight: 300;
      font-size: 35px;
      color: #4B4B4B;
      letter-spacing: 0.49px;
    }

    .entry-meta {
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 3.14px;
    }

    .cat-links {
      font-size: 13px;
      color: #4B4B4B;
      letter-spacing: 0.17px;
      line-height: 25px;
    }
  }
  .entry-content {
    p {
      font-weight: 400;
      font-size: 15px;
      color: #4B4B4B;
      letter-spacing: 0.54px;
      line-height: 27px;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    blockquote {
      margin-top: 3rem;
      border-left: 1px solid $azureBlue;
      padding-left: 2rem;
      margin-bottom: 3rem;

      & > p {
        font-weight: 300;
        font-style: italic;
        font-size: 24px;
        color: $azureBlue;
        letter-spacing: 0.86px;
        line-height: 35px;
      }
    }
  }
}

.nav-links {
  margin: 3rem auto;
  text-align: center;

  .nav-previous,
  .nav-next {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    a {
      @extend .btn;
      background-color: $azureBlue;
      width: 175px;
    }
  }
  .nav-previous a {
    &::after {display: none !important;}
    &::before {
      content: '';
      display: inline-block;
      margin-right: 5px;
      background-image: url('../img/icons/chevrons/btn_chevron.png');
      height: 9px;
      width: 5px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotate(180deg);
    }
  }
}
