.newsletter-footer {
  color: $white;
  background-color: $primary;
  p {
    font-size: 12px;
    color: $white;
    letter-spacing: 2.31px;
    text-transform: uppercase;
    font-weight: 400;
  }
}

.site-footer {
  background-color:#E5E5E5;
  color: #63636B;
  font-size: 13px;
  letter-spacing: .5px;
  font-weight: 300;
  .nav {
    a{
      font-size:12px;
      letter-spacing: 1.7px;
      font-weight:bold;
      padding: 0 2rem;
      width:auto;
      color: #337AB7;
      display: inline-block;
    }
    .btn {
      margin-top: -8px;
      background-color: transparent;
      border: 1px solid $primary;
      padding: 8px 15px 8px 0px;
      a {
        padding-left: 15px;
        padding-right: 10px;
      }
      &::after {
        margin-left: 0;
        background-image: url('../img/icons/chevrons/btn_chevron_alt.png');
      }
    }
    li:nth-of-type(1) a{ border-left:none; }
  }
  p{
    margin-bottom:.5rem;
    font-size:13px;
    &.copyright {
      font-size: 9px;
      text-transform: uppercase;
      letter-spacing: 2.2px;
    }
  }
}

#footer-logo {

}

@media (min-width: 768px){
  .site-footer .nav a{
    //border-left:2px solid;
  }
}
