.callout-inner {
  min-height: 560px;
  position: relative;
  z-index: 10;
  .media-img {
    height: 175px;
    width: 175px;
    background-size: contain;
  }
  .media { color: $white; }
  .media-body {
    width: 100%;
    max-width: 560px;
  }
  .body-inner {
    letter-spacing: .5px;
  }
}

.cd2h-callout-wrapper {
  position: relative;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
  }
  &.primary {
    &::before {
      background-image: linear-gradient(-45deg, rgba(41,110,177,0.30) 0%, #296EB1 100%);
    }
  }
  &.secondary {
    &::before {
      opacity: 0.8;
      background-image: linear-gradient(146deg, #4A7D8F 2%, #A4BEC7 99%);
    }
  }
}


@media(max-width: 767px){
  .callout-inner {
    .media {width: 100%;}
  }
}
