.hero-container {
  height: 610px;
  background-color: $snowGreen;
  overflow: hidden;
}

.hero-slider {
  position: relative;

  .owl-nav {
    color: $white;
    position: absolute;
    right: 30px;
    left: 30px;
    bottom: 60%;
    z-index: 5;
    .owl-prev, .owl-next {
      &:focus {
        outline: none;
      }
      .prev-arrow-ico, .next-arrow-ico {
        position: relative;
        top: 3px;
        display: inline-block;
        background-image: url('../img/icons/chevrons/left_chevron_hero.png');
        height: 25px;
        width: 13px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
      }
    }
    .owl-prev {
      position: absolute;
      left: 0;
      .prev-arrow-ico {
        margin-right: 5px;
      }
    }

    .owl-next {
      position: absolute;
      right: 0;
      .next-arrow-ico {
        margin-left: 5px;
        transform: rotate(180deg);
      }
    }

    .slide-counter {
      display: inline-block;
      font-size: 29px;
      letter-spacing: 1.16px;
      & > span {
        padding-left: 5px;
        padding-right: 5px;
      }
      .current-slide {
        color: #E9D29B;
      }
    }
  }
}

.hero-slide {
  position: relative;
  background-color: $iceBlue;
  a { color: $white; }
  .slider-content {
    background-color: $white;
    margin-left: 100px;
    max-width: 575px;
    padding: 50px;
    .slide-body {
      font-size: .9rem;
      letter-spacing: 0.5px;
      line-height: 1.75;
      //font-weight: 300;
    }
  }
}

@media(min-width: 768px){
  .hero-slide {
    position: relative;
    height: 610px;
  }
}

@media(max-width: 767px){
  .hero-slider {
    .owl-nav {
      display: none;
    }
  }
}
