.media.mediaPerson {
  .media-picture > img{
    height: 150px;
    width: 150px;
    border-radius: 300px;
    border: 4px solid transparent;
  }
  .h3 {
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 22px;
    text-transform: capitalize;
    //font-weight: 400;
  }
  .h6 {
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
  }
}

.mediaPerson {
  &.primary {
    .media-picture > img {border-color: $primary;}
    .h3 {color: $primary;}
  }
  &.secondary {
    .media-picture > img {border-color: $secondary;}
    .h3 {color: $secondary;}
  }
}

.media.mediaObj {
  display: block;

  .media-picture {
    height: 127px;
    width: 127px;
    border-radius: 300px;
    border: 2px solid transparernt;
    img {max-width: 100%;}
  }
  .h3 {
    font-size: 24px;
    letter-spacing: 0.25px;
    line-height: 28px;
    font-weight: 400;
  }
}

.media.portrait { display: block !important; }
.media.landscape {
  align-items: start !important;
  .media-body { text-align: left !important; }
}

.mediaPerson.landscape {
  margin-bottom: 50px;
}

@media(max-width: 767px){
  .mediaPerson.landscape {
    display: block;
  }
}
@media(min-width: 961px){
  .arrow-md {
    &::after {
      content: '';
      top: 50px;
      left: 75%;
      position: absolute;
      height: 10px;
      width: 50%;
      background-image: url('../img/arrow_long_secondary.png');
    }
  }
}
